/*.logo {*/
/*    position: absolute;*/
/*    top: 280px;*/
/*    margin: 0 auto;*/
/*}*/

html, body {
    margin: 0;
    background-color: #1A1A1A;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn_inner {
    width: 288px;
    height: 50px;
    background: #715BF8;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
}

.btn_inner:after {
    content: "";
    background: rgba(122, 99, 255, 0.82);
    display: block;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn_inner:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.total__inner a {
    text-decoration: underline;
    color: #5A5A5A;
}


/* Main */

.header {
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_div_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_div {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.nav_language {
    margin-left: 8px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
}

.nav_lang_inner select {
    width: 55px;
    font-size: 16px;
    line-height: 1;
    background: url(../img/select_arrow.svg) no-repeat right transparent;
    -webkit-appearance: none;
    background-position-x: 44px;
    border-image: none;
    outline-offset: -2px;
    border: 0 transparent;
    outline: transparent 0;
    box-shadow: none;
}

.nav_balance_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 43px;
    /* Option color */

    background: #252525;
    border-radius: 10px;
    font-size: 14px;
    color: white;
}

.nav_balance_inner img {
    padding: 2px 5px;
}

.nav_div p {
    margin: 0 7px;
}

.nav_account_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    /* Option color */

    background: #252525;
    border-radius: 10px;
    font-size: 14px;
}

.nav_account_inner .dropdown-menu {
    background: #252525;
    border-radius: 10px;
    min-width: 11rem !important;
}

.nav_account_inner .dropdown-item {
    color: white;
}

.nav_account_inner .dropdown-item:hover {
    background-color: transparent;
}

.nav_lang_inner.language {
    background: transparent;
}

.nav_lang_inner .dropdown-item {
    color: #5A5A5A;
}

.nav_lang_inner .dropdown-item:hover {
    background-color: transparent;
}

.nav_lang_inner .dropdown-menu {
    background: #252525;
    border-radius: 10px;
    min-width: 5.5rem;
    margin-left: 13px;
}

.nav_lang_inner.language button {
    border: none;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    min-width: 7rem;
}

.nav_account_inner.custom button {
    border: none;
    outline: none;
    text-decoration: none;
    overflow: hidden;
    min-width: 11rem;
}

/*.nav_lang_inner {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 43px;*/
/*    !* Option color *!*/

/*    background: transparent;*/
/*    font-size: 14px;*/
/*    color: white;*/
/*}*/

header nav {
    display: inline-block;
    vertical-align: middle;
}


.menu__container {
    width: 180px;
    height: 100%;
}

.menu_box__container {
    top: 90px;
    width: 182px;
    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 0 0 15px;
}

.menu_box__container a {
    color: #5A5A5A;
}

.menu_box__container a:hover {
    color: #adadad;
}

.menu_box__container .selected_menu a {
    color: white;
}

.menu_box__container .selected_menu a:hover {
    color: white;
    outline: none;
    text-decoration: none;
}

.menu_title {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
}

.menu_title img {
    padding-right: 16px;
}

/*.wrapper__container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    grid-auto-rows: minmax(100px, auto);*/
/*}*/

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

nav {
    background-color: #1A1A1A;
}

.nav_div:last-child {
    margin: 0 0 0 10px;
}

.card {
    background-color: transparent;
    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;
}

.card_date p {

    /* 14px */
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    /* Option font */
    color: #5A5A5A;
}

.card_title {
    /* 18px */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */

    color: #FFFFFF;
}

.card_content {
    /* 16px */
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #FFFFFF;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
    }
}

/* Verifications */

.verifications__container {
    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 30px 10px 30px;
    width: 100%;
}

.verifications__container span {
    margin-right: 7px;
    color: #5A5A5A;
}

.verifications_menu_btn__container {
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    margin: 0 7px;
    background-color: transparent;
    font-size: 14px;
    box-shadow: none !important;
}


.verifications__container .option_btn button:hover {
    color: #5A5A5A;
}

.type_category .verifications_menu_btn__container:hover {
    color: #abb6be;
}


.btn-saturn {
    background: #715BF8!important;
}

.verifications__title {
    margin: auto 0;
}

.verifications__title span {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.search_key__input__inner {
    background: transparent url(../img/search.svg) no-repeat scroll 0 15px;
}

.input_inner {

    margin: 24px auto;
    width: 100%;
    height: 50px;

    /* Option color */
    background: #252525;
    border-radius: 10px;
}

.input_inner input {
    margin: auto 10px;
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 30px;
    color: white;
}

.option_btn button {
    background-color: transparent;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}

#image {
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.flip {
    transform: rotate(-180deg);
}

.option_btn .input_inner {
    margin: 7px auto;
    height: 42px;
}

.verifications__container .option_btn {
    padding: 15px;
}

.option_btn .input_inner span {
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 39px;
    height: 21px;
    margin: 2px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #5A5A5A;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2px;
    background-color: #5A5A5A;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color: #715BF8;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.option_btn .align-self-stretch {
    padding: 9px;
}

.filter_numbers {
    background: transparent;
    border-radius: 10px;
    border: 1px solid #5A5A5A;
    margin: 0;
    width: 100%;
    height: 50px;
}

.content_table {
    margin: 20px -30px -10px -30px;
}

.content_table table, th {
    background-color: transparent;
    text-align: center;
}

.content_table table th, td {
    height: 65px;
}

.content_table th {
    padding-bottom: 20px;
}

.content_table td {
    padding-top: 20px;
}

.content_table table th {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #5A5A5A;
}

.content_table .service img {
    padding: 8px;
    background: #252525;
    border-radius: 10px;
    margin-right: 14px;
}

.content_table span {
    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.content_table .status {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #00FF57;
}

.content_table .status_type {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #715BF8;
}

.content_table .favourite a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.content_table .favourite span {
    color: #5A5A5A;
}

.content_table img {
    padding-bottom: 5px;
}

.account__input_inner {

    margin: 8px 0 28px 0;
    width: 100%;
    min-height: 50px;

    /* Option color */
    background: #252525;
    border-radius: 10px;
}

/* My account */
.account__input {
    margin: auto 10px;
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    padding-left: 10px;
}

.email_block h5 {
    color: white;
    /* 18px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 24px;
    /* identical to box height, or 22px */
}

.span_subtitle {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Option font */

    color: #5A5A5A;
}

.span_title {
    display: block;
    color: white !important;
    /* 18px */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */
}

.email_block .switch {
    width: 32px;
}

.email_block span.slider.round {
    margin-right: 0;
}

.margin-0 {
    margin: 0 !important;
}

.margin-t-24 {
    margin-top: 24px;
}

.margin-b-24 {
    margin-bottom: 24px;
}

.email_block .btn_inner {
    width: 100%;
    margin-bottom: 24px;
    padding: 13px;
}

.password_block .btn_inner {
    margin-bottom: 24px;
    padding: 13px;
}

table.table-dark > thead > tr > th {
    border-top: 1px solid transparent;
}

.table-container {
    width: auto;
}

/* Rentals */
.rentals_block .btn_inner {
    width: 156px;
    padding: 15px;
    margin: 24px auto;
}

.rentals_block .span_title {
    margin-bottom: 8px;
}

.rentals_block .content_table {
    margin: 0 -30px -10px -30px;
}

.rentals_block .favourite a {
    color: #715BF8 !important;
}

#modifyRentalNumbers .verifications__container {
    padding: 0;
}

#modifyRentalNumbers .account__input_inner, .modal_titles_div {
    padding: 13px;
    margin: 0;
    border-radius: 8px;
}

#modifyRentalNumbers .modal-content {
    background-color: #1A1A1A;
}

#modifyRentalNumbers .verifications__container {
    margin: 6px 0;
}

#modifyRentalNumbers .modal-header {
    border: none;
}

#modifyRentalNumbers .modal-title {
    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #FFFFFF;
}

#modifyRentalNumbers .modal-header {
    margin-top: 10px;
    margin-bottom: -10px;
}

#modifyRentalNumbers a {
    color: #5A5A5A;
}

/* Buy */

.padding-0 {
    padding: 0;
}


.margin-0-7 {
    margin: 0 7px;
}

.margin-0-10 {
    margin: 0 10px;
}

.margin-10-0 {
    margin: 10px 0;
}

.buy_block .input_inner button {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Option font */

    color: #5A5A5A;
}

.dropdown.nav_account_inner.input_inner {
    background: transparent;
    border: 1px solid #5A5A5A;
    box-sizing: border-box;
    border-radius: 10px;
}


.buy_block .search_key__input__inner {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Option font */

    color: #5A5A5A;
}

.buy_block .search_under_title {
    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #FFFFFF;
}


.buy_block .search_under_title a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: none;
    color: #715BF8 !important;
}

.hide {
    display: none;
}

.dropdown-menu.custom.show {
    margin-top: -10px;
    border-top: none;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-width: 0;
}

.credit_cart_title {
    /* 18px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */


    color: #FFFFFF !important;
}

.credit_cart_subtitle {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    text-align: right;

    /* Primary */

    color: #715BF8 !important;
}

.credit_cart a {
    margin-top: 10px;
    padding-top: 5%;
}

.credit_cart_submit {
    /* Primary */

    border: 1px solid #715BF8;
    box-sizing: border-box;
    border-radius: 10px;

    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #FFFFFF;
    background-color: transparent;
    height: 50px;
    width: 100%;
}

.credit_cart_submit:hover {
    color: #cfc5be;
}

.credit_cart {
    height: 164px;
    padding: 20px;
}

.credit_cart .input_inner {
    margin: -20px -20px 10px;
    width: auto;
    height: 47px;
    padding: 15px 20px;
    border-radius: 8px 8px 0 0;
}

.verifications__container {
    /*border-bottom: 0;*/
}

.credit_cart button {
    margin-top: 10px;
}

.margin-bottom-3 {
    margin-bottom: 3px;
}

.credit_cart {
    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Option font */

    color: #5A5A5A;
}

.credit_cart_sum span {

    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #FFFFFF;
}

/* Purchase */
.margin-r-24 {
    margin-right: 24px !important;
}

.checkout_content {
    height: 93px;
    padding: 20px 30px;
}

.checkout_sub_content:after {
    content: "";
    background-color: #353535;
    position: absolute;
    width: 1px;
    height: 93px;
    top: -20px;
    left: -10px;
    display: block;
}

.span_payment_title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #FFFFFF !important;
}

.span_payment_subtitle {
    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #FFFFFF !important;
}

.payment_block .span_title {
    margin-top: 10px;
}

.payment_block .btn_inner {
    padding: 15px;
}

.payment_block .row p {
    margin: 5px auto;
}

.payment_block .row .span_title {
    margin: 15px auto;
}

/* Available rentals */

.available_title_block .input_inner {
    width: auto;
    margin-right: 14px;
    margin-left: 0;
    padding: 0 12px;
    height: 29px;
}

.available_title {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #5A5A5A !important;
}

.available_subtitle {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #FFFFFF !important;
}

.avaliable_rental_container .btn_inner {
    padding: 15px;
}

.avaliable_rental_container .input_inner {
    margin: 0 auto;
}

.padding-left-30 {
    padding-left: 30px
}

/* Review rental first */

.review_rental_first_block {
    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 25px;
}

.review_rental_first_block .verifications__container {
    padding: 20px 30px;
}

.review_rental_first_sublock {
    height: 100%;
}

.review_rental_first_sublock .central_item_block {
    border: 1px solid #353535;
    border-top-width: 0;
    border-bottom-width: 0;
}

.central_item_top_subblock {
    border-bottom: 1px solid #353535;
    height: 50%;
    overflow: auto;
}

.central_item_top_subblock_content {
    padding: 20px 30px;
}

.central_item_bottom_subblock {
    height: 50%;
    padding: 20px 30px;
}

.btn {
    padding: 13px;
}

/* Review rental second */

.left_item_block {
    border: 0 solid #353535;
    border-right-width: 1px;
}

.review_rental_second_block {
    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 25px;
}

.review_rental_second_block .verifications__container {
    padding: 20px 30px;
}

.review_rental_second_block .central_item_top_subblock {
    border: none;
}

.review_rental_second_block .right_item_bottom_subblock {
    border: 0 solid #353535;
    border-top-width: 1px;
    padding: 20px 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* Sms */

.sms_container .account__input_inner {
    margin: 0;
}

.sms_container .verifications__container {
    padding: 0;
    margin-bottom: 24px;
}

.sms__input__inner {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    text-decoration: none;
    box-shadow: none;
    /* 16px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #FFFFFF;
    outline: none;
}

.sms_btn {
    width: auto;

    padding-left: 50px;
    padding-right: 50px;
}

.selected {
    background-color: #715BF8 !important;
}

.margin-r-20 {
    margin-right: 20px;
}

.margin-l-5 {
    margin-left: 5px;
}

.sms_textarea {
    height: 200px;
    resize: none;
    padding: 15px 20px 15px 0;
}

.sms_copied_btn button {
    height: 20px;
    width: 20px;
}

.sms_container .sms_text_title_span {
    height: 170px;
    display: table-cell;
    vertical-align: middle;
}

/* Voice */

#btn_play_call {
    border: none;
    width: auto;
    padding-right: 0;
    padding-left: 0;
}

#call_block img {
    margin-right: 5px;
}

.center_img {
    /* 14px */

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Option font */

    color: #5A5A5A;
}

#call_block .center_img img {
    margin-top: -3px;
}

#loadingDivBlock {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.loadingDivBlock_loader {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid rgba(113, 91, 248, 0.3);
    border-radius: 50%;
    border-top-color: #715BF8;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.result_alert {
    display: none;
    position: absolute;
    z-index: 1000000000000000001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.result_alert img {
    position: relative;
    text-align: center;
    top: 30%;
    left: calc(50% - 40px);
    z-index: 1000000000000000;
    display: block;
    width: 80px;
    height: 80px;
}

.padding-t-5 {
    padding-top: 5px;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.password_block .account__input_inner {
    margin-bottom: 0;
}

.email_block .account__input_inner {
    margin-bottom: 0;
}

.password_block p {
    margin-bottom: 0;
    margin-top: 24px;
}

.error_input {
    border: 1px solid #FF3C3C !important;
}

.padding-b-24 {
    padding-bottom: 24px;
}

.purchase_btn_hover:hover {
    color: white;
    background-color: #715BF8;
    cursor: pointer;
}

.added {
    color: #5A5A5A !important;
}

.history-container table tbody tr:hover {
    background-color: black;
    cursor: pointer;
}

.div_center {
    font-size: larger;
    text-align: center;
    position: relative;
    margin: auto;
    width: 90%;
    top: 33%;
}

.selected_menu_svg path {
    stroke: white !important;
}

.password {
    -webkit-text-security: disc;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-bottom: 1px solid #252525;
}

.users-btn {
    width: 30px;
    height: 30px;
    padding: 5px
}


.dropdown_parrent {
    padding: 0 15px !important;
}

.account__input_inner.dropdown_parrent {
    padding-left: 0 !important;
}

.input_inner.dropdown_parrent input {
    padding-left: 0 !important;
}

.margin-5-0 {
    margin: 5px 0;
}

.margin-r-5 {
    margin-right: 5px;
}

.contact_type_dropdown {
    background: #363636;
    border-radius: 10px;
    width: 72px;
    margin: 7px 0 0;
    height: 36px;
}

.contact_type_dropdown .dropdown-menu {
    border-radius: 10px;
    background: #363636;
    min-width: 56px !important;
    border: none;
}

.contact_type_dropdown .dropdown-menu a {
    cursor: pointer;
    height: 18px;
    width: 100%;
    padding: 14px 12px;
}

.contact_type_dropdown .dropdown-menu a:hover {
    background: #363636;
}

.contact__input__inner {
    background: transparent;
}

.contact_type_dropdown button {
    align-items: center;
}

@media (min-width: 1024px) {
    .table-responsive {
        width: auto !important;
    }
}

@media (max-width: 576px) {

    .col-2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .menu_box__container {
        width: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .verifications__container .content_table {
        margin-right: -100px;
    }

    .buy_menu_btn__container .row {
        display: block;
    }

    .buy_menu_btn__container .row .col-4 {
        max-width: 100%
    }

    .checkout_content {
        height: auto;
    }

    .checkout_content .col-3 {
        flex: auto;
        max-width: 100%;
        margin-top: 10px;
    }

    .checkout_sub_content:after {
        content: "";
        display: none;
    }

    .table-responsive {
        width: 100% !important;
    }

    /*.table-responsive {*/
    /*    width: auto;*/
    /*}*/
    #operation_selected_block {
        display: block !important;
        text-align: center;
    }

    #operation_selected_block .cryptocurrencies_block {
        margin: 10px 0;
    }

    .credit_cart {
        height: auto !important;
    }

    .email_block {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .password_block {
        margin-top: 24px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .password_block .btn_inner {
        width: 100% !important;
    }
}

.btn-danger {
    border-radius: 10px !important;
}

#converse-register .input-group-prepend input {
    height: 50px;
    color: white;
    background-color: #252525;
    background-clip: padding-box;
    border: 1px solid #252525;
    border-radius: .25rem 0 0 .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.modal .input-group-text {
    height: 50px;
    color: white !important;
    background-color: #252525 !important;
    background-clip: padding-box !important;
    border-radius: 0 .25rem .25rem 0 !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

#conversejs form#converse-register legend {
    color: white;
    font-size: 24px;
}

.modal .account__input_inner {
    margin-top: 0;
}

.modal .contact_type_dropdown {
    width: auto !important;
}

.modal-content {
    background-color: #1a1a1a !important;
}

.modal-header {
    border-bottom: 1px solid #252525 !important;
}

.close {
    text-shadow: none !important;
}


.bootstrap-select .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu.show {
    display: block;
}

.bootstrap-select .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-select .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bootstrap-select.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b!important;
    text-decoration: none!important;
    background-color: #e9ecef!important;
}

.disabled span {
    color: black;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: white!important;
    pointer-events: none!important;
    background-color: transparent!important;
}

.selected.active span.text {
    color: white;
}

.selected_services.verifications_menu_btn__container.btn {
}

#selected_services {
    color: white;!important;
}

.selected_services_block {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
}

#getPhoneNumber span {
    color: white;!important;
}
#getPhoneNumber img {
    padding-bottom: 4px;
}

