/*@font-face {*/
/*    font-family: Helvetica; !* Имя шрифта *!*/
/*    src: url(../fonts/Helvetica.otf); !* Путь к файлу со шрифтом *!*/
/*}*/

html, body {margin: 0; height: 100%; overflow: hidden}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1A1A1A;

    font-size: 15px;
    color: #333;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}


.form-signin h4 {
    margin-top: 65px;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
}


.form-signin h1 {
    margin-top: 14px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}

.form-signin p {
    color: #5A5A5A;
}

.total__inner {
    width: 339px;
    /*height: 293px;*/
    margin: 50px auto;

    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;
}

.input_inner {

    width: 288px;
    height: auto;
    margin: 25px auto 0;

    /* Option color */
    background: #252525;
    border-radius: 10px;
}

.input_inner input {
    margin: auto 0;
    height: 50px;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 30px;
    color: white;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.input_inner:hover {
    /*padding-left: 5px;*/
    transition: 0.5s;
}

.login__input__inner {
    background: transparent url(../img/login_input.svg) no-repeat scroll 0 15px;
}

.password__input__inner {
    -webkit-text-security: disc;
    background: transparent url(../img/password_input.svg) no-repeat scroll 0 15px;
}

.secret_key__input__inner {
    background: transparent url(../img/secret_key.svg) no-repeat scroll 0 15px;
}

.contact__input__inner {
    background: transparent url(../img/contact.svg) no-repeat scroll 0 15px;
}

.btn_inner {
    width: 288px;
    height: 50px;
    background: #715BF8;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 14px;
}

.btn_inner:hover {
    background: #4b46e2;
}

.total__inner a {
    text-decoration: underline;
    color: #5A5A5A;
}

.error_input {
    border: 1px solid #FF3C3C !important;
}

.border-r-5 {
    border-radius: 4px;
}

.margin-t-24 {
    margin-top: 24px;
}

.margin-b-24 {
    margin-bottom: 24px;
}

.dropdown_parrent {
    padding: 0 15px !important;
}

.contact_type_dropdown {
    background: #363636;
    border-radius: 10px;
    width: 60px;
    margin: 7px 0;
}

.contact_type_dropdown .dropdown-menu {
    border-radius: 10px;
    background: #363636;
    min-width: 56px!important;
    border: none;
}
.contact_type_dropdown .dropdown-menu a {
    cursor: pointer;
    height: 18px;
    width: 100%;
    padding: 14px 12px;
}

.contact_type_dropdown .dropdown-menu a:hover {
    background: #363636;
}

.padding-t-5 {
    padding-top: 5px!important;
}

@media (max-width: 900px) {

    body {
        overflow: scroll;
    }
}

