.loader_block {
    background: transparent;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bar {
    position: relative;
    height: 2px;
    width: 100%;
    background: #fff;
    margin: 100px auto 0;
}

.circle {
    position: absolute;
    top: -30px;
    margin-left: -20px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #fff;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
}

.bar p {
    position: absolute;
    top: -25px;
    right: 20px;
    text-transform: uppercase;
    color: #1b1b1b;;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

@-webkit-keyframes move {
    0% {left: 0;}
    50% {left: 90%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    75% {left: 90%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    100% {right: 90%;}
}
